<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <main class = "container containerAbout">
      <div class="jumbotron">
        <img src="/Assets/images/myPhoto.jpg">
        <div><p>My name is Aleksandr Shelukheev. I am from Russia. I am a student of Software Engineering Technology program at Centennial College.</p></div>
            <p><a href="/myResume" target="blank">My resume</a></p>
      </div>
    </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>