<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <main class = "container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to My Personal page</h1>
      </div>
      <div>
        Read about me <a href = "/about">here</a>.
      </div>
    </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
